.row {
    display: flex;
  }
  
  .column-left {
    flex: 50%;
  }

  .column-right {
    flex: 50%;
    margin-top: 80px;
    margin-right: 100px;
  }
  
/* Example CSS for increasing the size of calendar cells */
.react-calendar {
    width: 600px; /* Set the overall width of the calendar */
    font-size: 14px; /* Adjust the font size of the calendar */
  }
  
  .react-calendar__tile {
    width: 60px; /* Set the width of individual date cells */
    height: 40px; /* Set the height of individual date cells */
  }
  
  .react-calendar__month-view__days__day--weekend {
    /* Customize weekend day cells separately if needed */
    background-color: #f0f0f0; /* Example background color for weekend days */
  }
  