/* Create 2-column layout */
.two-column-container {
  display: flex; 
  align-items: flex-start; 
  padding: 20px;
}

/* Align in one row */
.row-format {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Style the header */
.header {
    background-color: #a1b3a1; 
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif; 
  }
  
  /* Style the calendar container */
  .calendar-container {
    /*background-color: #f2f2f2;*/
    width: 200px;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  
  /* Style the selected date display */
  .text-center {
    margin-top: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Center the month and year selection */
  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
    font-family: Arial, sans-serif; 
  }

  /* Tile styling */
  .react-calendar__tile {
    height: 80px;
  }
  
  .react-calendar__month-view__days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Style the events list */
  ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, sans-serif; 
  }
  
  li {
    margin-bottom: 10px;
    color: #a1b3a1; 
    font-family: Arial, sans-serif; 
  }
  
  /* Style the buttons */
  button {
    background-color: #a1b3a1; 
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-family: Arial, sans-serif; 
  }
  
  button:hover {
    background-color: #98a9a1; 
  }
  
  /* Add borders around the dates */
  .react-calendar__month-view__days__day {
    border: 1px solid #a1b3a1; 
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  /* Change background color and text color on hover */
  .react-calendar__month-view__days__day:hover {
    background-color: #a1b3a1;
    color: white; 
  }
  
  /* Reset background color and text color when not hovered over */
  .react-calendar__month-view__days__day:not(:hover) {
    background-color: white;
    color: black; 
  }