#logo{
    height: 70px;
}
.navoption {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Adjust as needed for spacing between links */
    padding-bottom: 2px;
    cursor: pointer;
    color: #2aaa13;/* Default text color */
    text-decoration: none;
    transition: padding-bottom 0.3s, color 0.3s; /* Add smooth transitions */
  }
  
  /* Create a pseudo-element (::after) for the line */
  .navoption::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2aaa13; /* Change the color as desired */
    transition: width 0.3s, background-color 0.3s;
  }
  
  /* Style the line when hovering over the Nav.Link */
  .navoption:hover {
    padding-bottom: 0; /* Reduce the padding to 0 to spread the line below */
    color: #2aaa13; /* Change text color on hover if desired */
  }
  
  /* Expand the line when hovering over the Nav.Link */
  .navoption:hover::after {
    width: 100%;
    color: #2aaa13; /* Change line color on hover if desired */
  }