
.Welcome {
  text-align: center;
}

.Progbar{
  display: flex;
  justify-content: center; /* Horizontally center the child elements */
  /* No need for align-items or height properties in this case */
}
