.resource-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 15px;
    background-color: #f7f7f7;
    border-color: #5eae2c;
    width: 18rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .resource-card .card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .resource-card .card-text {
    font-size: 1.2rem;
    color: #555;
  }

  .card-container{
    display: flex;
  }

  .card-image {
    max-width: 100%;
    height: auto;
  }

/* resources.css */
.video-dropdown {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
  }
  
  .video-dropdown.active {
    display: block;
  }

.card-footer.bg-transparent .border-success {
    background-color: green;
}

.card-container{
  display: flex;
}

.video-button {
  font-family: "proxima_nova_bold",Arial,sans-serif;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: 3px solid #2aaa13;
  text-transform: uppercase;
  padding: 8px 50px;
  text-decoration: none;
  color: #2aaa13;
  background-color: #fff;
  bottom: 0;
}

.video-button:hover{
  color: #ffffff; /* Change line color on hover if desired */
  background-color: #2aaa13;
}
.relative{
  position: relative;
}